In [43]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [44]:
# Importing the dataset
df = pd.read_csv("Schlieren_Labeled.csv", sep=";")
df.head()

,Legende,Spiel,Martin Schlag,Petr Schlag,Error/Winner,Game (Martin;Petr),Punkt (Martin;Petr),Bemerkung,Frame,Objekt,Objekt ID,Objektlabel,Konfidenz,Trackingstatus,x,y,z,vx,xy,vz
0,True,0,0,0,0,99;99,99;99,NaN,0,0,0,Person,91.2109,OFF,-3.23670,0.016276,4.43368,-nan(ind),-nan(ind),-nan(ind)
1,1,0,0,0,0,99;99,99;99,NaN,0,1,1,Person,45.9961,OFF,2.40510,-2.696930,24.81480,-nan(ind),-nan(ind),-nan(ind)
2,False,0,0,0,0,99;99,99;99,NaN,1,0,0,Person,91.2598,OFF,-3.23032,0.016394,4.43147,0.801566,-0.00163345,-1.65796e-09
3,0,0,0,0,0,99;99,99;99,NaN,1,1,1,Person,38.4033,OFF,2.39731,-2.692540,24.71270,3.53703,-0.00720912,-5.93347e-07
4,Game (Martin; Peter),0,0,0,0,99;99,99;99,NaN,2,0,0,Person,90.7715,OFF,-3.21413,0.016563,4.42910,0.739202,0.0240556,-0.215608

In [45]:
df = df.drop(["Legende"], axis=1)

In [46]:
df.mask(df == "-nan(ind)", inplace=True)

In [47]:
df.head(100)

,Spiel,Martin Schlag,Petr Schlag,Error/Winner,Game (Martin;Petr),Punkt (Martin;Petr),Bemerkung,Frame,Objekt,Objekt ID,Objektlabel,Konfidenz,Trackingstatus,x,y,z,vx,xy,vz
0,0,0,0,0,99;99,99;99,NaN,0,0,0,Person,91.2109,OFF,-3.23670,0.016276,4.43368,NaN,NaN,NaN
1,0,0,0,0,99;99,99;99,NaN,0,1,1,Person,45.9961,OFF,2.40510,-2.696930,24.81480,NaN,NaN,NaN
2,0,0,0,0,99;99,99;99,NaN,1,0,0,Person,91.2598,OFF,-3.23032,0.016394,4.43147,0.801566,-0.00163345,-1.65796e-09
3,0,0,0,0,99;99,99;99,NaN,1,1,1,Person,38.4033,OFF,2.39731,-2.692540,24.71270,3.53703,-0.00720912,-5.93347e-07
4,0,0,0,0,99;99,99;99,NaN,2,0,0,Person,90.7715,OFF,-3.21413,0.016563,4.42910,0.739202,0.0240556,-0.215608
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,1,0,F,0,99;99,99;99,NaN,47,1,1,Person,33.7158,OK,2.67109,-2.494500,23.08170,0.215017,0.0543427,-0.46132
96,1,0,F,0,99;99,99;99,NaN,48,0,0,Person,92.8711,OK,-2.70685,0.132243,3.61859,0.236264,0.0550659,-0.467933
97,1,0,F,0,99;99,99;99,NaN,48,1,1,Person,28.9307,OK,2.67864,-2.495410,23.09920,0.208632,0.0479443,-0.407464
98,1,0,0,0,99;99,99;99,Martin teilweise im Feld,49,0,0,Person,93.3105,OK,-2.70505,0.136036,3.61573,0.213477,0.0481118,-0.408731
99,1,0,0,0,99;99,99;99,Martin teilweise im Feld,49,1,1,Person,28.9307,OK,2.68589,-2.495950,23.10180,0.208632,0.047971,-0.407461

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2439 entries, 0 to 2438
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Spiel                2439 non-null   int64
 1   Martin Schlag        2417 non-null   object
 2   Petr Schlag          2439 non-null   object
 3   Error/Winner         2439 non-null   object
 4   Game (Martin;Petr)   2439 non-null   object
 5   Punkt (Martin;Petr)  2439 non-null   object
 6   Bemerkung            343 non-null    object
 7   Frame                2439 non-null   int64
 8   Objekt               2439 non-null   int64
 9   Objekt ID            2439 non-null   int64
 10  Objektlabel          2439 non-null   object
 11  Konfidenz            2439 non-null   float64
 12  Trackingstatus       2439 non-null   object
 13  x                    2432 non-null   float64
 14  y                    2432 non-null   float64
 15  z                    2432 non-null   float64
 16  vx                   2427 non-null   object
 17  xy                   2427 non-null   object
 18  vz                   2427 non-null   object
dtypes: float64(4), int64(4), object(11)
memory usage: 362.2+ KB

In [49]:
df["Martin Schlag"] = df["Martin Schlag"].astype("category")
df["Petr Schlag"] = df["Petr Schlag"].astype("category")

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2439 entries, 0 to 2438
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Spiel                2439 non-null   int64
 1   Martin Schlag        2417 non-null   category
 2   Petr Schlag          2439 non-null   category
 3   Error/Winner         2439 non-null   object
 4   Game (Martin;Petr)   2439 non-null   object
 5   Punkt (Martin;Petr)  2439 non-null   object
 6   Bemerkung            343 non-null    object
 7   Frame                2439 non-null   int64
 8   Objekt               2439 non-null   int64
 9   Objekt ID            2439 non-null   int64
 10  Objektlabel          2439 non-null   object
 11  Konfidenz            2439 non-null   float64
 12  Trackingstatus       2439 non-null   object
 13  x                    2432 non-null   float64
 14  y                    2432 non-null   float64
 15  z                    2432 non-null   float64
 16  vx                   2427 non-null   object
 17  xy                   2427 non-null   object
 18  vz                   2427 non-null   object
dtypes: category(2), float64(4), int64(4), object(9)
memory usage: 329.2+ KB

In [55]:
df.describe()

,Spiel,Frame,Objekt,Objekt ID,Konfidenz,x,y,z
count,2439.000000,2439.000000,2439.000000,2439.000000,2439.000000,2432.000000,2432.000000,2432.000000
mean,0.940139,614.829438,0.501435,2.920049,59.607700,0.179608,-1.283045,14.392834
std,0.237277,365.232295,0.530352,3.241788,29.190617,2.516608,1.430812,10.168369
min,0.000000,0.000000,0.000000,0.000000,20.056200,-8.453000,-4.007830,2.200880
25%,1.000000,300.000000,0.000000,1.000000,29.455550,-2.273632,-2.662645,3.872760
50%,1.000000,604.000000,0.000000,1.000000,52.734400,1.863430,-2.468115,22.841000
75%,1.000000,929.000000,1.000000,3.000000,89.941400,2.503530,0.134376,24.298375
max,1.000000,1253.000000,2.000000,14.000000,94.140600,3.288400,1.428450,26.246100